// VARIABLES
// Text
$paleViolet: hsl(276, 100%, 81%);
$moderateViolet:hsl(276, 55%, 52%);
$desaturatedDarkViolet: hsl(271, 15%, 43%);
$grayishBlue:hsl(206, 6%, 79%);
$veryDarkDesaturatedViolet:hsl(271, 36%, 24%);
$darkGrayishViolet:hsl(270, 7%, 64%);
// Gradients
$gradientHorizontal: linear-gradient(90deg, rgba(236, 150, 248, 1) 0%, rgba(136, 56, 255, 1) 100%);
$gradientVertical:linear-gradient(180deg, rgba(236, 150, 248, 1) 0%, rgba(136, 56, 255, 1) 100%);
$gradientDefault: rgb(236, 150, 248);
// Secondary
$white: hsl(0, 0%, 100%);
$lightGrayishViolet: hsl(270, 20%, 96%);
$veryDarkDesaturatedViolet: hsl(271, 36%, 24%);
$veryLightMagenta: hsl(289, 100%, 72%);

/* DEFAULT STYLE */

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.container {
    width: 830px;
    margin: 0 auto;
}

.content__inner {
    position: relative;
    overflow-x: hidden;
    &::before {
        position: absolute;
        content: "";
        width: 420px;
        height: 80%;
        background: $gradientVertical;
        border-radius: 0px 0px 200px 200px;
        left: -70px;
        top: 0;
        z-index: -1;
    }
    &::after {
        position: absolute;
        content: "";
        width: 420px;
        height: 80%;
        background: $lightGrayishViolet;
        border-radius: 200px 200px 0px 0px;
        right: -180px;
        bottom: 0;
        z-index: -1;
    }
}

.app {
    padding-top: 150px;
    display: flex;
}

.app-right {
    max-width: 450px;
    &__title {
        font-weight: 500;
        color: $veryDarkDesaturatedViolet;
        font-size: 2.5rem;
    }
    &__text {
        color: $darkGrayishViolet;
        line-height: 1.7rem;
    }
}